.introduce{
    width: 100%;

    .section-container{
        .grid{
            padding: 3rem;
            border-radius: var(--borderRadius);
            background-color: var(--primarycolorLight);
            justify-content: center;
            margin: auto;
            gap: 2rem;

            .item{
                justify-content: center;
                gap: 0.5rem;

                h2{
                    font-size: var(--h1Font);
                    font-weight: 700;
                    color: var(--color-black);
                }

                p{
                    opacity: 0.8;
                    max-width: 80px;
                }
            }
        }
    }
}

@media (min-width: 640px){
    .introduce{
        .section-container{
            .grid{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media (min-width: 800px){
    .introduce{
        .section-container{
            .grid{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}