.header.navbar-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: relative;
    z-index: 100;

    .demo-logo {
      color: white;
      font-size: 20px;
      width: 20%;

      a{
        color: var(--color-white);
      }
    }

    .nav {
      width: 60%;
      justify-content: center;
      background: transparent;
      font-size: 16px;

      .ant-menu-item-selected {
        background-color: transparent;
      }
    }

    .profile {
      display: flex;
      justify-content: space-between;
      width: 30%;
      color: white;
      font-size: 16px;

      .search__form{
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: auto auto auto 0;
        position: relative;
        border-radius: 40px;
        transition: background-color 0.4s;
        
        &.active{
          background-color: var(--color-white);
          input{
            width: 100%;
            visibility: visible;
            overflow: auto;
            padding: 8px 15px;
          }

          button{
            border-radius: 40px;
            border: none;
          }
        }

        input{
          width: 0;
          padding: 8px 0;
          visibility: hidden;
          overflow: hidden;
          transition: all 0.5s;
          border: none;
          border-radius: 40px;
        }

        button{
          transition: all 0.5s;
          &:hover{
            color: var(--color-black);
            border-color: var(--color-white);
          }
        }
      }

      .book__now{
        min-width: max-content;

        a{
            color: var(--color-white);
        }
      }
    }
  }