.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem;
    position: fixed;
    // border-bottom: 1.5px solid var(--primarycolor);
    backdrop-filter: blur(5px);
    z-index: 1000;

    .btn{
        background-color: var(--color-white);
        color: var(--color-black);
        font-weight: 700;
    }

    &.on-scroll{
        .btn{
            background-color: var(--primarycolor);
            color: var(--color-white);
            border-color: var(--primarycolor);
        }
    }

    .logo{
        width: 150px;
        height: 40px;
        color: var(--color-black);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
    }

    @media (max-width: 768px){
        .menu{
            position: absolute;
            display: block;
            width: 70%;
            top: 8rem;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            background-color: rgba(255,255,255,0.94);
            transition: 0.8s ease-in-out;
            box-shadow: 0 2px 3px 4px rgba(236,213,213,0.516);
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;

            &.open{
                opacity: 1;
                visibility: visible;
            }

            ul{
                padding: 10px 0;
            }

            li{
                font-size: var(--h3Font);
                font-weight: normal;
                justify-content: center;
                padding: 10px 20px;
                text-align: center;
            }
        }
    }

    .btn-menu{
        font-size: var(--h1Font);
        width: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s ease;

        @media (min-width: 769px){
            &:hover{
                color: var(--primarycolor);
            }
        }
    }

    .menu-animate{
        display: none;
    }
}

@media (min-width: 768px){
    .navBar{
        .logo{
            span{
                font-size: var(--h2Font);
            }
        }

        .btn-menu{
            display: none;
        }

        .menu{
            display: block;
            ul{
                display: flex;
                gap: 1rem;

                li{
                    font-size: var(--h3Font);
                    font-weight: 500;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;

                    &:hover{
                        color: var(--primarycolor);
                        border-bottom: 1.5px solid var(--primarycolor);
                    }
                }
            }
        }

        .menu-animate{
            display: none;
        }
    }
}

@media (min-width: 992px){
    .navBar{
        .menu{
            display: none !important;
        }
    
        .menu-animate{
            display: block !important;
        }
    }
}

@media (min-width: 1240px){
    .navBar{
        padding: 2rem;

        .menu{
            ul{
                gap: 4rem;
            }
        }
    }
}

@media (min-width: 1440px){
    .navBar{
        padding: 2rem 14rem;
    }
}